@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500|Ranchers');

body{
     font-family: 'Raleway', sans-serif;
     margin:0;
     padding: 0;
     text-align: center
}



#navbarTop .navbar-light .navbar-brand {

    color: navy;
    font-family: 'Ranchers', cursive;
    font-size: 3rem;
}




#navbarTop .nav-link{
    
    color: black;
   
}

#navbarTop .nav-link:hover{
    
    color: grey;
   
}



h1{
    font-family: 'Ranchers', cursive;
    font-weight: 900;
    /* font-family: 'Raleway', sans-serif;*/
}

.monkeesText{
     font-family: 'Ranchers', cursive;
     font-weight: 700;
     text-align: center;
}



